.container--footer{
    color: var(--light);
    font-size: 1.30rem;
}

.container--header{
    flex-basis: 5%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333331;
    font-size: 2rem;
}