@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--background);
    flex-direction: column;
}

:root{
    --black: #1A1C1E;
    --red: #C41438;
    --light: #383A40;
    --background: #B2BEB8;
}